.sports {
    border-bottom: solid 3px #ffb978;
}

.sports .section01 {
    display: flex;
    flex-wrap: wrap;
}

.sports .section01 img {
    max-width: 260px;
    max-height: 165px;
}

.sports .text {
    padding-left: 5px;
}

.sports .block {
    display: flex;
}

.sports .section01 .block01 {
    margin-bottom: 20px;
}

.sports .section02 {
    display: flex;
    flex-wrap: wrap;
}

.sports .section02 .block01 {
    border-bottom: solid 2px #d1d1d1;
}

.sports .section02 .block02 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

/* .sports .section03 {
    display: flex;
    flex-wrap: wrap;
}

.sports .section03 .block02 {
    display: flex;
}

.sports .section03 .block02 h2 {
    font-size: 17px;
    line-height: 20px;
}

.sports .section03 .block02 img {
    max-width: 145px;
    max-height:90px;
} */