.politics {
    border-bottom: solid 3px #ffb978;
}

.politics .block {
    display: flex;
}

.politics .section01 {
    display: flex;
    flex-wrap: wrap;
}

.politics .section01 .block01 {
    margin-bottom: 20px;
}

.politics .section01 img {
    max-width: 260px;
    max-height: 165px;
}

.politics .section02 {
    display: flex;
    flex-wrap: wrap;
}

.politics .section02 .block02 {
    display: flex;
}

.politics .section02 .block02 h2 {
    font-size: 17px;
    line-height: 20px;
}

.politics .section02 .block02 img {
    max-width: 145px;
    max-height:90px;
}

.politics .section03 {
    display: flex;
    flex-wrap: wrap;
}

.politics .section03 .block02 {
    display: flex;
}

.politics .section03 .block02 h2 {
    font-size: 17px;
    line-height: 20px;
}

.politics .section03 .block02 img {
    max-width: 145px;
    max-height:90px;
}

.politics .text {
    padding-left: 5px;
}